<launch>
    <arg name="serial_dev" default="/dev/ttyUSB0"/>
    <arg name="serial_baud_rate" default="115200"/>
    <arg name="serial_timeout" default="500"/>
    <arg name="lim_avel_wheel" default="3600.0"/>
    <arg name="cmd_vel_timeout" default="1.0"/>
    <arg name="disconnected_as_estop" default="true"/>
    <arg name="update_state_by_imu" default="false"/>
    <arg name="node_freq" default="15.0"/>
    <arg name="dist_wheels" default="0.35"/>
    <arg name="diameter_wheel" default="0.17"/>
    <arg name="dist_axis" default="0.52"/>
    <arg name="acc_vel" default="0.05"/>
    <arg name="acc_theta" default="0.1"/>
    <arg name="revert_z" default="false"/>
    <arg name="publish_odom_transform" default="false"/>
    <arg name="start_enable" default="true"/>
    <arg name="link_name" default="base_link"/>

    <node name="base_4wheel" pkg="smartcar_control" type="4_drive_control.py" output="screen">
        <param name="serial_dev" type="string" value="$(arg serial_dev)" />
        <param name="serial_baud_rate" type="int" value="$(arg serial_baud_rate)" />
        <param name="serial_timeout" type="int" value="$(arg serial_timeout)" />
        <param name="lim_avel_wheel" type="double" value="$(arg lim_avel_wheel)" />
        <param name="cmd_vel_timeout" type="double" value="$(arg cmd_vel_timeout)" />
        <param name="disconnected_as_estop" type="boolean" value="$(arg disconnected_as_estop)" />
        <param name="update_state_by_imu" type="boolean" value="$(arg update_state_by_imu)" />
        <param name="node_freq" type="double" value="$(arg node_freq)" />
        <param name="dist_wheels" type="double" value="$(arg dist_wheels)" />
        <param name="diameter_wheel" type="double" value="$(arg diameter_wheel)" />
        <param name="dist_axis" type="double" value="$(arg dist_axis)" />
        <param name="acc_vel" type="double" value="$(arg acc_vel)" />
        <param name="acc_theta" type="double" value="$(arg acc_theta)" />
        <param name="revert_z" type="boolean" value="$(arg revert_z)" />
        <param name="publish_odom_transform" type="boolean" value="$(arg publish_odom_transform)" />
        <param name="start_enable" type="boolean" value="$(arg start_enable)" />
        <param name="link_name" type="string" value="$(arg link_name)" />
    </node>
</launch>
