<launch>
    <!-- Non-sim launch aligned with far_planner / FAST_LIO TF names -->
    <arg name="use_sim_time" default="false"/>
    <arg name="base_serial_dev" default="/dev/ttyUSB0"/>
    <arg name="base_serial_baud_rate" default="115200"/>
    <arg name="enable_person_tracker_tf" default="true"/>
    <arg name="enable_navigation_tf_alias" default="true"/>

    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <!-- Load the URDF/Xacro model of our robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find smartcar_description)/urdf/xacro/smartcar_body.xacro'" />

    <!-- Load joint state / robot state publishers -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    </node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
	</node>

    <!-- Bridge FAST_LIO body frame to the URDF root frame -->
    <node pkg="tf" type="static_transform_publisher" name="body_to_base_link_tf" args="0 0 0 0 0 0 /body /base_link 100" />

    <!-- person_tracker compatibility TFs (disable if a real arm already publishes these) -->
    <node if="$(arg enable_person_tracker_tf)" pkg="tf" type="static_transform_publisher" name="base_to_left_arm_base_tf" args="0 0 0 0 0 0 /base_link /left_arm_base_link 100" />
    <node if="$(arg enable_person_tracker_tf)" pkg="tf" type="static_transform_publisher" name="left_arm_base_to_left_gripper_tf" args="0 0 0 0 0 0 /left_arm_base_link /left_gripper_link 100" />

    <!-- AI-navigation naming compatibility -->
    <node if="$(arg enable_navigation_tf_alias)" pkg="tf" type="static_transform_publisher" name="map_to_odom_fusion_tf" args="0 0 0 0 0 0 /map /odom_fusion 100" />
    <node if="$(arg enable_navigation_tf_alias)" pkg="tf" type="static_transform_publisher" name="base_link_to_base_link_fusion_tf" args="0 0 0 0 0 0 /base_link /base_link_fusion 100" />

    <!-- Real chassis bringup without simulated odom TF -->
    <include file="$(find smartcar_control)/launch/navigation_base.launch">
        <arg name="serial_dev" value="$(arg base_serial_dev)" />
        <arg name="serial_baud_rate" value="$(arg base_serial_baud_rate)" />
        <arg name="publish_odom_transform" value="false" />
        <arg name="link_name" value="base_link" />
    </include>

</launch>
